In [1]:
import pandas as pd

# Process human graded data for evaluation
### Load data

Take the two batches and the two grades and concat them to one frame

In [3]:
grader_1_batch_1_df = pd.read_csv('../data/student_grades/student_grades_01_01.csv', usecols=['Name', '5: Documentation (100.0 pts)'])
grader_1_batch_2_df = pd.read_csv('../data/student_grades/student_grades_01_02.csv', usecols=['Name', '5: Documentation (100.0 pts)'])

grader_2_batch_1_df = pd.read_csv('../data/student_grades/student_grades_02_01.csv', usecols=['Name', '5: Documentation (100.0 pts)'])
grader_2_batch_2_df = pd.read_csv('../data/student_grades/student_grades_02_02.csv', usecols=['Name', '5: Documentation (100.0 pts)'])

df = pd.concat([grader_1_batch_1_df, grader_1_batch_2_df, grader_2_batch_1_df, grader_2_batch_2_df])
df.columns = ['id', 'grade']
df = df.dropna()

df.head()

    id  grade
0  637   67.0
1  164   73.0
2  214   75.0
3   94   85.0
4  617    0.0

### Average grades between the two graders

In [5]:
df.groupby('id').mean()

     grade
id
12    61.0
17    71.0
28    65.0
39    65.0
73    70.0
83    75.0
94    80.0
120   64.0
127   71.0
128   69.0
132   76.0
136   74.0
145   74.0
151   74.0
164   64.0
214   69.0
256   75.0
260   85.0
291   70.0
319   80.0
331   84.0
362   75.0
379   74.0
380   65.0
392   75.0
396   79.0
401   69.0
421   60.0
455   71.0
488   85.0
569   70.0
570   74.0
579   79.0
597   74.0
606   80.0
617   42.5
622   70.0
637   59.5
647   49.5
702   71.0

### Convert to relevance classes

In [6]:
def apply_bounds(grade):
    if grade >= 70:
        return 3
    elif 70 > grade >= 60:
        return 2
    elif 60 > grade >= 50:
        return 1
    else:
        return 0


df['label'] = df['grade'].map(apply_bounds)
df.head()

    id  grade  label
0  637   67.0      2
1  164   73.0      3
2  214   75.0      3
3   94   85.0      3
4  617    0.0      0